<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	th:replace="~{fragments/dash :: dash (~{::body},'tagshow')}">
<head>

</head>
<body>
	<label>用户信息表</label>
<span style="display: none" th:text="${count}" id="countnum"></span>
	<div>
		<form id="tagshowform" action="tagsave" class="form-horizontal" method="POST">
			<input type="submit" value="保存" class="btn btn-primary" />
			
			<table class="table table-responsive-sm table-hover table-outline mb-0" id="user4_1_tbody">
				
		<tr th:each="atag2,index:${atag2list}" class="input-group-addon">
				<td class="col-2"><span> 项目名 :</span></td>
				
		     	<td class="col-2 "> <input style="border:0px;background-color:transparent" readonly="readonly" type="text" th:value="${atag2.tagname}"  th:name="@{btag[{i}].bTagname(i=${index.index})}" >
		    <!-- 点检项目id --> 	
		     	<input type="text" style="display: none" th:value="${atag2.alltagsid}" th:name="@{btag[{i}].alltagsid(i=${index.index})}"/>
		     	</td>
				<td class="col-md-2"><span> 项目值 :</span></td>
					<td th:if="${atag2.tagtype=='text'}" class="col-md-2">
					<input type="text" th:name="@{btag[{i}].bTvalue(i=${index.index})}" />
					<input type="text" th:name="@{btag[{i}].bType(i=${index.index})}" value="text" style="display: none;"/></td>

					<td th:if="${atag2.tagtype=='select'}" class="col-md-2 ">
					<select th:name="@{btag[{i}].bSvalue(i=${index.index})}" class="wse">
						<option th:each="tag : ${atag2.tagvalues}" th:value="${tag}" th:text="${tag}"></option>
					</select>
					<input type="text" th:name="@{btag[{i}].bType(i=${index.index})}" value="select" style="display: none;"/></td>
<!-- signname -->
					<td th:if="${atag2.tagtype=='signname'}" class="col-md-7">
						<!-- 签名板 -->
						<div id="signature-pad-parent" class="signature-pad-parent" style="display: none;">
							<div id="signature-pad" class="signature-pad text-center">
								<div class="signature-pad--body">
									<canvas></canvas>
								</div>
								<div class="signature-pad--footer">

									<div class="signature-pad--actions">
										<div>
											<a id="btnclear" data-action="clear">クリア</a> <a id="btnundo"
												data-action="undo">元に戻る</a> <a id="btnplayno"
												data-action="save-img">確認</a>
										</div>
									</div>
								</div>
							</div>
						</div> 
						<div id="cover" class="cover"></div>

						<div class="col-3">
							<button type="button" th:id="@{signname[{i}](i=${index.index})}" class="btn btn-default"
								style="height: 125px;">サイン</button>
						</div>
						
						<div id="div1" class="div1 col-7" >
						
								<button type="button" th:if="${data}" class="close imgdelete"
									onclick="closebtn()">
									<span aria-hidden="true">&times;</span>
								</button>
						</div>
					</td>
					
				</tr>
			</table>
		</form>
	</div>
<script type="text/javascript" src="js/bootstrap-paginator.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//点击幕布隐藏
			$(".cover").click(function() {
				$(".signature-pad-parent").hide();
				$(".cover").hide();
			});
		})
		
		//绑定动态id使每个按钮点击都出签字
		$(":button[id^=signname]").bind("click", function() {
			$(".cover").show();
			$(".signature-pad-parent").show().resize();
		});
		//签字后隐藏幕布
		$("#btnplayno").bind("click", function() {
			$(".cover").hide();
		});

	</script>
	<script src="js/signature_pad.js"></script>
	<script src="js/app2.js"></script>
	
</body>
</html>
