<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:shiro = "http://www.pollix.at/thymeleaf/shiro"
	th:replace="~{fragments/layout :: layout (~{::body},'test')}" 
>
<head>
<script type="text/javascript">
$("#addtag").bind("click", function() {
	var contag = document.getElementById("contag");
	var obj2 = document.createElement("input");
	obj2.options[0] = new Option("加载项1", "");
	obj2.options[1] = new Option("加载项2", "");
	obj2.innerText = "您的第" + count + "个问题： ";
	contag.appendChild(obj);
	 
	
	
	
});
</script>




</head>
<body>
<button class="btn btn-primary" id="addtag" type="button">添加</button>	
<div id="contag">


</div>

</body>
</html>
